.topbar-container{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(52, 52, 52);
    color:white;
    padding: 0.4rem;
    align-items: center;
}

.topbar-container ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}