
.contact-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}
.contact-main{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: start;
    gap: 5rem;
}
.contact-main li{
    list-style:none;
    width: 100%;
    text-align: start;
    display: flex;
    font-size: 20px;
    padding: 1rem;
    
}
.contact-main li i{
    color:orange;
    margin-right: 1rem;
}
.contact-main ul{
    width: 50%;
    
}
.contact-main ul h2{
    border-bottom: 1px solid rgb(202, 202, 202);
    display: flex;
    padding-left: 1rem;
    font-size: 26px;
}

.contact-text{
    margin-top: 3rem;
    color:rgb(99, 0, 0);
    font-weight: bold;

}

  .map-container iframe{
    width: 400px;
    height: 400px;
  }

@media(max-width:768px){
    
    .contact-container{
        height: auto;
    }
    .contact-main{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: start;
        gap: 0rem;
        flex-direction: column;
    }
    .contact-main ul{
        width: 100%;
        height: 55vh;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .contact-main ul h2{
        width: 100%;

    }
    .contact-main ul h2 li{
        font-size: 18px;
    }
    .map-container {
        width: 100%;
    }
    .map-container iframe{
        width: 90%;
        
    }
    .contact-main li{
        font-size: 16px;
    }
    .contact-text{
        font-size: 14px;
        padding: 2rem 0.5rem;
        margin-top: 0;
    }
}