.footer-container{
    display: flex;
    width: 100%;
    background-color: rgb(32, 32, 32);
    flex-direction: column;
    color:White;
    padding: 1rem;
}
.footer-container p:first-child{
    font-size: 24px;
}
.footer-container p:nth-child(2) span a{
    color:orange;
    text-decoration: none;
}

@media(max-width: 768px){
    .footer-container{
        font-size: 5px;
        padding: 1.5rem 0;
    }
    .footer-container p:first-child{
        font-size: 20px;
    }
    .footer-container p{
        font-size: 14px;
    }
}