.slider-container{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}


.slide-img {
    height: 100%;
}
.slide-img img {
    width: 100%;
    /* object-fit: cover; */
}


.swiper-slide {
    width: 100%;
    display: flex;
    align-items: center;
}




.swiper {
    width: 100%;
}


.swiper-slide {
    width: 100%;
}



.review-swiper-button-prev,.review-swiper-button-next {
    font-size: 24px;
    color: rgb(0, 0, 0) !important;
    cursor: pointer;
    position: absolute;
    z-index: 11111;
}
.review-swiper-button-prev{
    left: 0;
}
.review-swiper-button-next{
    right:0;
}
.swiper-wrapper {
    height: 100%;
}


@media (max-width:728px) {
    .swiper {
        width: 100%;
    }
    
    .swiper-slide {
        flex-direction: column;
    }
    .slide-desc{
        font-size: 12px;
    }
    .slide-img {
        width: 100%;
    }

} 