.whoarewe-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.whoarewe-inner{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('../../pictures/bizkimiz6.jpg');
    height:500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whoarewe-inner h2{
    color:rgb(212, 212, 212);
    font-size: 80px;
    font-weight: 100;
}

.whoarewe-info{
    display: flex;
    padding:1rem 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 73, 73);
}
.whoarewe-info ul{
    display: flex;
    width: 80%;
    list-style: none;
    justify-content: space-evenly;
    
}
.whoarewe-info li{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:250px;
    color:white
}
.whoarewe-info i{
    font-size: 36px;
    color:rgb(255, 255, 255);
}



.text{
    background-color: #fffafa;
    padding:3rem 5rem;
    height: 100vh;
    display: flex;
    font-size: 16px;
    font-weight: bold; 
    letter-spacing: 1px;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.text-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 60%;
    justify-content: space-between;
}

.text img{
    width: 60%;
    border-radius: 1rem;
}

.text p{
    text-align: start;
    color:rgb(0, 0, 0);
}
.text span{
    color:rgb(255, 102, 0);
    font-family: 'Lucida Sans', Arial, sans-serif;

}
.text h2{
    text-align: start;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 36px;

}


@media(max-width:768px){
    .whoarewe-info ul{
        width: 100%; 
    }
    .whoarewe-info li{
        font-size: 16px
    }
    .whoarewe-info i{
        font-size: 20px;
    }
    .whoarewe-info li{
        font-size: 13px;
        color:rgb(255, 255, 255);
    }
    .whoarewe-text p{
        width: 90%;
        
    }
    .whoarewe-inner h2{
        color:rgb(255, 255, 255);
        font-size: 50px;
    }
    .whoarewe-text{
        width: 90%;
    }
    .text{
        height: auto;
        display: flex;
        flex-direction: column;
        padding:1rem 1rem;

    }
    .text-info{
        width: 90%;
    }
    .text{
        font-size: 14px;
        font-weight: 500;
    }
    .text-info h2{
        font-size: 30px;
        color:rgb(255, 81, 0);
        font-weight: bold;

    }
    .text img{
        width: 90%;
    }

}